# Environments & Packages
**/.venv*
**/.verify*
**/.pytest*
**/venv*
**/env*
**/site-packages/**

# Large binaries
*.dll
*.pyd
*.so
*.exe
*.h5

# Cache & Logs
**/__pycache__/
*.pyc
*.log
*.sqlite3
.env
.env.local

# Frontend
**/node_modules/
dist/
frontend/dist/
build/
.DS_Store

# ML Data & Large Checkpoints
ml/data/raw/
**/tensorboard/
ml/data/_hf_temp_extracted/

# Storage & Temporary Files
backend/storage/temp_*
backend/storage/uploads/

